/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

:root {
  --a-border-size: 0.25rem;
  --a-gap: 0.5rem;
  --a-tile-slot-size: 3rem;
  --a-tile-size: 2.75rem;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.a-board {
  background-color: #ed9;
  border: solid var(--a-border-size) #777;
  display: inline-flex;
}

.a-tile-line {
  padding-left: var(--a-gap);
  padding-right: var(--a-gap);
  gap: var(--a-gap);
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.a-tile-lines {
  display: flex;
  flex-direction: column;
  gap: var(--a-gap);
  padding-top: var(--a-gap);
  padding-bottom: var(--a-gap);
}

.a-tile-slot {
  pointer-events: none;
  border: solid var(--a-border-size) #777;
  width: var(--a-tile-slot-size);
  height: var(--a-tile-slot-size);
  background-color: var(--a-tile-slot-colour, #fff);
}

.a-tiles {
    position: absolute;
}

.a-tile {
    position: absolute;
    display: inline-block;
    background-color: var(--a-tile-colour, #f00);
    width: var(--a-tile-size);
    height: var(--a-tile-size);
    filter: drop-shadow(2px 3px 5px #1117);
    border-radius: 3px;
}

.a-dropzone {
    background-color: #f0fa;
}

.a-floor-line {
    padding: var(--a-gap);
    color: black;
    display: flex;
    gap: var(--a-gap);
    flex-direction: row;
}

.a-floor-line {
    div {
        pointer-events: none;
    }
}
